body {
	overflow-x: hidden;
}
.flex-wrap {
	display: flex;
}
.flex-50 {
	flex-basis: 50%;
}
.inner-wrap {
	padding: 5%;
}
ul {
	list-style: none;
	margin: 0;
}
nav {
	background-color: #F0F0F0;
	margin: 0 0 0 0!important;
}
.red {
	background-color: #B81D18;
}
.black {
	background-color: #202020;
}
p {
	color: #b6b6b6;
}
h4 {
	color: #b6b6b6;
}
h1 {
	color: #b6b6b6;
	font-size: 48px;
}
h2 {
	color: #b6b6b6;
	font-size: 48px;
}
.white {
	background-color: #F0F0F0;
}
a:link {
    color: #22aed1;
}
a:visited {
    color: #016fb9;
}
a:hover {
    color: #B81D18;
}
a:active {
    color: blue;
}
.vh{
	height: 100vh;
}

